section {
  padding: 1.5rem 0;
  overflow: hidden;
}

.custom-button {
  border: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  background-color: #839e37;
  color: white;
  width: 300px;
  height: 60px;
}

.custom-button:hover {
  background-color: green;
}

.content1 {
  display: flex;
}

.content2 {
  display: grid;
  border-left-color: #dadae061;
  border-left-style: inset;
}

.content3 {
  display: -webkit-inline-box;
  padding-left: 3.5rem;
}

.goodM {
  /* 굿네이버스 로고 */
  width: 27rem;
  height: 8.5rem;
  margin-left: 4rem;
}

.unicefM {
  /* 유니세프 로고 */
  width: 24rem;
  height: 6.5rem;
  margin-left: 4rem;
}

.greenM {
  /* 초록우산 로고 */
  width: 27rem;
  height: 7rem;
}

.goodD1,
.goodD2,
.goodD3,
.greenD1,
.greenD2,
.greenD3,
.greenD4,
.unicefD1,
.unicefD2,
.unicefD3,
.unicefD4 {
  /* 애들 둘 하트 사진 */
  width: 23rem;
  height: 15rem;
  box-shadow: 5px 6px 6px #c3c3c3;
}

.adong {
  /* 텍스트 */
  width: 120rem;
  height: 300px;
  margin-left: 3rem;
}

.text1 {
  /* 첫번째 진한 텍스 */
  font-size: 1.05rem;
  color: #047838;
  font-weight: bold;
}

.text2 {
  /* 두번째 진한 텍스트 */
  font-size: 0.85rem;
  color: #36454f;
  font-weight: bold;
}
