button {
  border: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  background-color: #839e37;
  color: white;
  width: 300px;
  height: 60px;
}

button:hover {
  background-color: green;
  color: black;
}

.content {
  display: flex;
}

.content2 {
  display: grid;
  border-left-color: #dadae061;
  border-left-style: inset;
}

.content3 {
  display: -webkit-inline-box;
  width: 500px;
  height: 400px;
  padding-left: 40px;
  margin-bottom: 20px;
}

.goodM {
  width: 400px;
  height: 200px;
  width: auto;
  margin-left: 100px;
}

.goodD1 {
  width: 500px;
  height: 400px;
}

.adong {
  width: 1200px;
  height: 300px;
  padding: 30px;
}
