.navb {
  width: 100%;
  padding: 0.85rem;
  margin-left: 6.8rem;
}

.navbarMenu,
.log,
.jo,
.logo {
  color: black;
  margin: 0.7rem;
  text-decoration: none;
}

.logo {
  font-size: 1.25rem;
}

.log {
  margin-left: 50rem;
}
